# Documents for running the app:
config.txt
participants.db
server.log
psiturk-example
.psiturk_history

*.py[cod]

# C extensions
*.so

# Packages
# Build outputs
build
dist
PsiTurk.egg-info
boto-2.9.5-py2.7.egg

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
!psiturk/example/static/lib/
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

/server.log

.DS_Store

doc/_build
