; This file controls various aspects of your configuration.

[AWS Access]
; An AWS key is required for posting new HITs to mechanical turk as well as
; monitoring existing HITs. You receive your key when you open an Amazon Web
; Services account.
; 
; If you already have an AWS account, your key can be retreived from:
; http://aws-portal.amazon.com/gp/aws/developer/account/index.html?action=access-key

aws_access_key_id: YourAccessKeyId
aws_secret_access_key: YourSecretAccessKey


[HIT Configuration]
; These are settings pertaining to how the HIT is to be set up.

using_sandbox: true

; Basic task setup
title: "Perceptual Reaction Time"
description: "Make a series of perceptual judgments."
keywords: "Perception, Psychology"
question_url: http://localhost:5001/mturk  ; URL turkers will see in your ad
max_assignments: 10     ; Number of turkers who can accept this HIT
HIT_lifetime: 24        ; In hours, how long the HIT will be available
reward: .1              ; In dollars
duration: 2             ; How long turkers have to complete once accepted.

; Requirements for workers:
US_only: true
Approve_Requirement: 95   ; What % of previous assignments have been approved.


[Database Parameters]

; Example MySQL url: mysql://user:password@domain:port/dbname
; MySQL url using MAMP: mysql://mturk@localhost/mturk?unix_socket=/Applications/MAMP/tmp/mysql/mysql.sock
database_url: sqlite:///participants.db

table_name: turkdemo

[Server Parameters]

host: localhost
port: 5001
cutoff_time: 30         ; Time in minutes when we assume a subject gave up
support_IE: true        ; Whether to support Internet Explorer

logfile = server.log
loglevel = 2 ; 0=DEBUG, 1=INFO, 2=WARNING, 3=ERROR, 4=CRITICAL

debug: true             ; NEVER leave this on when exposing the server to the public.

login_username: examplename
login_pw: examplepassword

[Task Parameters]

code_version: 1.0

num_conds: 1            ; Number of conditions of interest
num_counters: 1         ; Number of counterbalance alternatives


