---
---
<!DOCTYPE html>
<html lang="en">
  {% include _header.html %}
  <body>
<a href="https://github.com/NYUCCL/psiTurk"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 200;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>
  <div id="wrap">
  	<div class="container">
  		{% include _site_nav.html %}
  		<div class="row">
  			<div class="col-md-12">
  				<div class="main-subsection-name">Why?</div>
  			</div>
  		</div>
		<div class="row row-bottom">
		  <div class="col-xs-4 row-entry">
				<h4 class="menu-item-name">GET DATA, FAST</h4>
                <p class="menu-item-description"><b>psiTurk</b> takes the hassle out of collecting behavioral data online.  Test your code, post HITs, pay participants.  <b>psiTurk</b> lets you focus on your research rather than software development.</p>
		  </div>
		  <div class="col-xs-4 row-entry">
				<h4 class="menu-item-name">GET A HEAD START</h4>
                 <p class="menu-item-description"><b>psiTurk</b>'s <a href="https://psiturk.readthedocs.io/en/latest/experiment-exchange.html">experiment exchange</a> is like an "app store" for experiment designs.  Share your code, help others replicate, or check out someone else's experiment as a starting place for coding your own.</p>
		  </div>
		  <div class="col-xs-4 row-entry">
				<h4 class="menu-item-name">FRICTION-FREE REPLICATION</h4>
                 <p class="menu-item-description">The <a href="https://psiturk.readthedocs.io/en/latest/experiment-exchange.html">experiment exchange</a> also allows researchers to quickly download <b>psiTurk</b>-compatible experiments and re-run them online.  Same population, same task code, direct replication, better science.</p>
		  </div>
		</div>


		<!--  WAIT FOR BETTER ILLUSTRATIONS - _animated_analogy		-->
    <div class="row">
      <div class="col-md-12">
          <div class="main-subsection-name">How does it work?  It's quite simple actually</div>
          <span class="text-muted">Swipe the images to learn more</span>
      </div>
    </div>

    {% include core/_animated_analogy.html %}

		<div class="row">
			<div class="col-md-12">
				<div class="main-subsection-name-nospace">How do I get started?</div>
				<br>
				<p>Many computers can get started with three simple commands:</p>
				<br>
			</div>
		</div>

		<div class="row row-bottom">
		  <div class="col-xs-4">
                <p class="menu-item-description"><b>1.</b> Install <b>psiTurk</b> on your computer.  If you already have python it can be as easy as typing one command in the Terminal</p>
                  <br>
                  <pre><code> $ pip install psiturk </code></pre>
		  </div>
		  <div class="col-xs-4">
                 <p class="menu-item-description"><b>2.</b> <b>psiTurk</b> comes with a basic demo project which you can use to get started:</p>
                  <br>
                  <pre><code>$ psiturk-setup-example</code></pre>
		  </div>
		  <div class="col-xs-4">
                 <b>3.</b> Launch the <b>psiTurk</b> command line and get started collecting data!</p>
                  <br>
                  <pre><code>$ cd psiturk-example
$ psiturk</code></pre>
		  </div>
		</div>

		<div class="row row-bottom">
			<div class="col-md-12 row-entry">
  				<center>
  				<h3 class="main-subsection-name">
  					View the <a href="https://psiturk.readthedocs.io/">documentation</a> for more info, or <a href="https://psiturk.readthedocs.io/en/latest/quickstart.html">jump in</a> with our quick start guide!
            	</h3>
            	<br>
			</div>
		</div>


  		<div class="row">
  			<div class="col-md-12">
  				<div class="main-subsection-name">Need more convincing?</div>
  				<br>
  				<p>Check out the growing list of features...</p>
  				<br>
  			</div>
  		</div>
		<div class="row row-bottom">
		  <div class="col-xs-4 row-entry">
                <ul class="features-list">
                    <li class="features-list-item"><b>No need to install, configure and maintain complex webserver software (e.g., Apache, MySQL)</b></li>
                    <li class="features-list-item">Minimize security issues since server only runs while you want to collect data</li>
                    <li class="features-list-item">Prevent same worker from performing your experiment multiple times</li>
                    <li class="features-list-item">Standardization across labs/research groups aids replicability/code sharing</li>
                  </ul>
		  </div>
		  <div class="col-xs-4 row-entry">
                 <ul class="features-list">
                      <li class="features-list-item">Automatically record if participant is switching between windows during the task</li>
                      <li class="features-list-item">Save data from experiment incrementally to maximize data collection</li>
                      <li class="features-list-item">Prevent users for quiting then restarting experiment</li>
                      <li class="features-list-item">Extendable Python based API: easily add new functionality</li>
                      <li class="features-list-item"><b><a href="https://psiturk.readthedocs.io/en/latest/experiment-exchange.html">Library of experiments</a> you can adapt or replicate</b></li>
                      <li class="features-list-item"><a href="https://github.com/NYUCCL/psiTurk">Fully open-source development</a> helps catch bugs</li>
                    </ul>
		  </div>
		  <div class="col-xs-4 row-entry">
                <ul class="features-list">
                    <li class="features-list-item"><b>Easy to use interactive command line</b></li>
                    <li class="features-list-item"><b>Simplifies paying participants quickly, including bonuses</b></li>
                    <li class="features-list-item">Automatically fill in conditions randomly and evenly</li>
                    <li class="features-list-item">Easily switch between AMT's sandbox and live site</li>
                    <li class="features-list-item">Perfect for laboratory-based courses with undergrads (replicating studies)</li>
                    <li class="features-list-item">Since everything runs locally easy to debug/test (even w/o Internet!)</li>
                    <li class="features-list-item"><b>Well <a href="https://psiturk.readthedocs.io/">documented</a>!</b></li>
                </ul>
		  </div>
		</div>

  		<div class="row">
  			<div class="col-md-12">
  				<center>
  				<h3 class="main-subsection-name">
  					<img alt="psiTurk logo" src="{{ '/static/images/psiturk_logo_small.jpg' | relative_url }}" width="345"/><br><br>
  					<a href="https://psiturk.readthedocs.io/en/latest/contribute.html">Join in</a> and help advance open science!
            	</h3>
            	<br><br><br><bR>
            	</center>
  			</div>
  		</div>



      <div class="row">
        <div class="col-md-12">
          <center>

          <b>psiTurk</b> is used by researchers around the globe!

          <h3 class="main-subsection-name">
            <img alt="Researchers using psiturk are found at these great universities!" src="{{ '/static/images/schools.jpg' | relative_url }}" width="534"/><br><br>
          </h3>
              <br><br><br><bR>
              </center>
        </div>
      </div>

  	</div> <!-- /container -->

  </div> <!-- /wrap -->

    {% include _footer.html %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ '/static/js/bootstrap.min.js' | relative_url }}"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-50382207-1', 'psiturk.org');
      ga('send', 'pageview');

    </script>
  </body>
</html>
