argparse==1.2.1
Flask==0.12.2
SQLAlchemy==0.8.3
gunicorn==19.4.5
boto==2.15.0
cmd2==0.6.7
docopt==0.6.2
requests==2.5.0
user-agents==0.2.0
sh==1.09 
fake-factory==0.3.2
gitpython==0.1.7
fuzzywuzzy==0.2
setproctitle==1.1.8
psutil>=1.2.1
Werkzeug==0.12.1
ua-parser==0.3.6
