botocore~=1.12.179
requests~=2.22.0
future~=0.17.1
Flask~=1.0.3
SQLAlchemy~=1.3.5
cmd2~=0.8.9
boto3~=1.9.179
fuzzywuzzy~=0.17.0
gunicorn~=19.9.0
certifi~=2019.6.16
ciso8601~=2.1.1
Faker~=1.0.7
docopt~=0.6.2
six~=1.12.0
psutil~=5.6.3
mock~=3.0.5
user_agents~=2.0
urllib3~=1.25.3
pytest~=4.6.3
GitPython~=2.1.11
gnureadline~=8.0.0
python_dateutil~=2.8.1
pyOpenSSL~=19.0.0
setproctitle~=1.1.10
