.sidebar-button {
    margin-bottom: 5px;
}

.db-display {
    height: calc(100vh - 150px);
    overflow: auto;
}

#filterModal {
    position: absolute;
    pointer-events:none;
}

#filterModalDialog {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 10px;
}