{% extends "dashboard/base.html" %}

{# Set the navigation bar pages and the currently active page#}
{% set navigation_bar = [
    ('/dashboard/campaigns/', 'campaigns', 'Campaigns'),
    ('/dashboard/hits/', 'hits', 'HITs'),
    ('/dashboard/workers/', 'workers', 'Workers'),
    ('/dashboard/tasks/', 'tasks', 'Tasks'),
    ('/dashboard/About/', 'about', 'About'),
] -%}
{% set active_page = active_page|default('none') -%}

{# Is the current session in live mode or sandbox? #}
{% set live = session['services_manager_mode'] == 'live' %}


{# ---------------------------------- LAYOUT -------------------------------- #}
{% block layout %}

<!-- Container for content -->
<div class="container-fluid">

    <!-- Navigation bar -->
    <nav class='row navbar navbar-expand-sm navbar-dark bg-dark'>
        <a class="navbar-brand" href="/dashboard/">
            Dashboard
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% for href, id, caption in navigation_bar%}
                <li class="nav-item{% if id == active_page %} active{% endif %}">
                    <a class='nav-link' href={{href|e}}>{{caption|e}}</a>
                </li>
                {% endfor %}
            </ul>
            <div class="mr-2 font-weight-light text-muted align-middle">
                <small>PsiTurk v1.0.0</small> - 
                <small>Code v1.0.0</small>
            </div>
            <input
                style="opacity: 0;"
                type="checkbox"
                id="toggleLiveMode"
                {% if live %}checked{% endif %}
                data-toggle="toggle" 
                data-on="Live" 
                data-off="Sandbox" 
                data-onstyle="outline-primary" 
                data-offstyle="outline-secondary"
                data-size="sm">
        </div>
    </nav>

    <div class="row">
        <div class='main col'>
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

{% endblock %}

{% block modals %}
{% endblock %}


{# ---------------------------------- STYLES -------------------------------- #}
{% block styles %}
{{ super() }}

<!-- BootStrap toggle plugin -->
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
<!-- Custom styles -->
<link rel='stylesheet' href="{{url_for('.static', filename='styles/layout.css')}}">

{% endblock %}


{# --------------------------------- SCRIPTS -------------------------------- #}
{% block scripts %}
{{ super() }}

<!-- beefy bootstrap... sheesh, all this just for dropdowns... -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"   integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="   crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
<!-- Bootstrap toggle plugin -->
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
<!-- Custom scripts -->
<script type='module' src="{{url_for('.static', filename='js/layout.js')}}"></script>

{% endblock %}