<!doctype html>

<html>
	<head>
		<title>CompCog Psychology Experiment</title>
		<style type="text/css">
			body {
				margin: 20px;
				width: 600px;
				font-family: verdana, helvetica, sans-serif;
				background-color: black;
				color: white;
			}
			p {
				width: 450px;;
				text-align: left;
			}
			#logo {
				float: right;
				width: 120px;
			}
			a {
				color: purple;
			}
		</style>
	</head>
	<body>
		<h1>Debugging task complete!</h1>
		<p>
			If this was a real hit, the data would be saved now
			and the HIT submitted to AMT.
		</p>
	</body>
</html>