<div class="jumbotron">

<div id="mainlogo">
      <img alt="psiturk" class="img-responsive" src="{{'/static/images/psiturk_logo.jpg' | relative_url }}" align="center"/>
    </div>
     <p>An open platform for science on Amazon Mechanical Turk.</p>

<nav class="menu-navigation">
      <ul class="menu-navigation-list">
        <li class="menu-navigation-list-item"><a href='https://psiturk.readthedocs.io/en/latest/experiment-exchange.html'>Experiment Exchange</a></li>
        <li class="menu-navigation-list-item"><a href="https://psiturk.readthedocs.io/en/latest/quickstart.html">Quick Start</a></li>
        <li class="menu-navigation-list-item"><a href="https://psiturk.readthedocs.io/en/latest/">Docs</a></li>
        <li class="menu-navigation-list-item"><a href="http://psiturk.readthedocs.org/en/latest/contribute.html">Contribute</a></li
      </ul>
    </nav>

</div>
