
body {
	/* background: #999; */
	background: black; /* #808090; */
	color: white;
	text-align: center;
	font-family: Verdana, Helvetica, sans-serif;
	margin: 0 auto;
	width: 800px;
}

a {
	color: #FFCC90;
}

.warm {
	color: #DDAA90;
}

.cool {
	color: #ccccff;
}

strong {
	font-weight: bold;
	color: #DDAA90;
}

/* Instruction styles */
#main {
	margin: 0 auto;
	width: 800px;
	font-size: 100%;
}

.continue  {
	width: auto;
	margin-bottom: 20px;
}

.instruct p {
	text-align: justify;
}

.instruct .continue {
	margin: 20px 20px;
	width: 10em;
	height: 2.5em;
	font-size: 13pt;
	float: right;
}

.instruct .legal {
	font-size: 13px;
}

.instruct .header {
	text-align: justify;
	font-style: italic;
}

.instruct .instructions {
	text-align: center;
	font-style: italic;
	font-size: 100%;
	margin: 0 auto;
	margin-top: 30px;
	width: 500px;
}

#featuretable {
	margin: 0 auto;
}

.instruct table .cell {
	width: 240px;
}

.instruct table img {
	display: inline-block;
}
.instruct table h3 {
	margin: 0;
	margin-top: 6px;
}
.instruct table h4 {
	margin: 0;
	margin-top: 6px;
}

.instruct .subbox {
	text-align: justify;
	width: 500px;
	margin: 20px auto;
}
.instruct .subbox p {
	padding: 15px 20px;
	border: 1px solid white;
}

.instruct table {
	margin: 0 0 10px;
}

.instruct .outerbox {
	border: 1px dashed #A54;
	border: 1px solid gray;
	border: 2px solid #ddd;
}

.instruct .innerbox {
	width: 350px;
}
.instruct .innerbox img {
	margin: 0 10px;
}

.instruct hr {
	border: .5px solid gray;
}

#testexample {
	overflow: hidden;
	margin: 10px;
	text-align: center;
}

#prompt  {
	text-align: center;
}
#inputs  {
	text-align: center;
}

/* Questionnaire style */

.questionnaire p, li {
    font-size: 150%;
}


/* Experiment styles */
#holder {
	/* border: 2px solid white; */
}

#cardcanvas {
	margin: 20px auto;
}

#testcanvas {
	margin: 20px auto;
}

#timercanvas {
	margin: 0 auto;
}

#instructions {
	text-align: center;
	width: 550px;
	margin: 0 auto;
}


#stim {
	margin: 20px auto;
}

input {
    width: 100px;
    height: 50px;
    font-size: 22pt;
}

input[type="radio"], input[type="checkbox"] {
	height: 1em;
	width: 1em;
}

input[type="number"] {
}

.questionnaire #warning {
    color: red;
    font-weight: bold;
}

.questionnaire {
    font-size: 70%;
    text-align: left;
}
.questionnaire h1 {
    text-align: center;
}
.questionnaire table {
    margin: 0 auto;
	
	/* Border stuff: */
	table-layout: fixed;
	border-collapse: separate;
	border-spacing: 0.25em;
	border: none;
}
.questionnaire tr {
    display: block;
    border-bottom: 2px dashed white;
}
.questionnaire tr:last-child { border: 0; }

.questionnaire td {
    padding-right: 0.25em;
	vertical-align: middle;
	border-width: 0 1px;
	border: none
    margin: 20px;
    padding-bottom: 10px;
}
.questionnaire td:first-child, td + td {border-left: 0; }
.questionnaire td:last-child { padding-right: 0; border-right: 0; }

.answer {
    text-align: left;
	padding-left: 3em;
}

.questionnaire .question {
    position: relative;
    margin: 20px;
}
.questionnaire .questiontext {
	vertical-align: top;
    width: 280px;
    color: #bbbbff;
    margin: 20px;
    font-size: 1.2em;
}
.questiontext em {
	font-size: 70%;
}
.questionnaire textarea {
    width: 320px;
    height: 130px;
}
.questionnaire form {
    text-align: right;
}
.questionnaire hr {
    border-bottom: 1px solid #bbbbff;
}

.questionnaire ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}


.questiontext {
	text-align: right;
}

#debriefing {
	width: 640px;
}

#debriefingtext {
	margin: 0 auto;
	padding: 10px 20px;
	font-size: 80%;
	text-align: justify;
	border: 1px solid white;
}
#affirmationbox {
	position: relative;
	margin:  0 auto;
	border: 1px dotted white; 
	padding: 10px 20px;
	vertical-align: middle;
}
#affirmationbox p {
	text-align: left;
	font-style: italic;
	margin-bottom: 0;
}
#affirmationbox  table {
	border-spacing: 20px;
}
#affirmationbox  td {
	vertical-align: middle;
	font-size: 100%;
	color: black;
	height: 50px;
	cursor: pointer;
}
#affirmative {
	background: white;
	overflow: hidden;
	font-weight: bold;
	width: 10em;
}
#negative {
	background: white;
	font-size: 100%;
	width: 25em;
}
