
body {
    padding:0px;
    margin: 0px;
    background-color: white;
    color: black;
    font-weight: 300; 
    font-size: 13pt;
}


/* text styling */
strong {
  font-weight: 600;         
}

.warm {
  color: steelblue;
  text-align: justify;
}

.cool {
  color: #ccccff;
}


/* these are all the same for now, but easy to modify individually */
#container-ad, #container-error, #container-exp, #container-consent, #container-instructions, #container-questionnaire {
    position: absolute;
    top: 0px; /* Header Height */
    bottom: 0px; /* Footer Height */
    left: 0px;
    right: 0px;
    padding: 100px;
    padding-top: 5%;
    border: 18px solid #f3f3f3;
    background: white;
}

#container-consent, #container-exp {  /* override padding to fit long consent forms and exp display*/
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 1%;
}

/* ad.html  - the ad that people view first */
#adlogo {
    float: right;
    width: 140px;
    padding: 2px;
    border: 1px solid #ccc;
}

/* consent.html - the consent form */
#consent {
  margin: 0 auto;
  margin-top: 0;
  width: 800px;
  font-size: 100%;
}

.legal {
  text-align: justify;
  font-size: 11pt;
  line-height: 1.1em;
}

#trial {
  margin: 0 auto;
  width: 800px;
  text-align: center;
}

#query {
  color: darkgray;
}

.question {
  margin-bottom: 30px;
}

/* errors */
#error img {
  padding-right: 10px;
  padding-top: 15px;
}