@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,600italic);

body {
	/* background: #999; */
	background: black; /* #808090; */
	color: white;
	text-align: center;
	font-family: Verdana, Helvetica, sans-serif;
	margin: 0 auto;
        margin-top: 100px;
	width: 800px;
}

h1 {
        font-family: "Crimson Text";
        font-size: 42pt;
        font-style: italic;
}

a {
	color: #FFCC90;
}

.warm {
	color: #DDAA90;
}

.cool {
	color: #ccccff;
}

strong {
	font-weight: bold;
	color: #DDAA90;
}


/* Instructions */

#main {
	margin: 0 auto;
	width: 800px;
	font-size: 100%;
}

.continue  {
        font-size: 2em;
	width: 5em;
        height: 2.5em;
	margin: 20px 20px;
}

.instruct p {
	text-align: justify;
}

.instruct .prompt {
	text-align: center;
	font-style: italic;
	font-size: 100%;
	margin: 0 auto;
	margin-top: 30px;
	width: 500px;
}


/* Questionnaire */

input {
        width: 200px;
        height: 50px;
        font-size: 22pt;
}

.questionnaire {
    text-align: center;
}

.questionnaire .continue {
    margin: 0 auto;
    margin-top: 20px;
}

.questionnaire h1 {
    text-align: center;
}

.questionnaire p {
    text-align: left;
}

.questionnaire #warning {
    color: red;
    font-weight: bold;
}

.questionnaire table {
    margin: 0 auto;
	
    /* Border stuff: */
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0.25em;
    border: none;
}

.questionnaire tr {
    display: block;
    border-bottom: 1px dashed white;
}

.questionnaire tr:last-child { border: 0; }

.questionnaire td {
    padding-right: 0.25em;
    vertical-align: middle;
    border-width: 0 1px;
    border: none;
    margin: 20px;
    padding-bottom: 10px;
}
.questionnaire td:first-child, td + td {border-left: 0; }
.questionnaire td:last-child { padding-right: 0; border-right: 0; }

.answer {
        text-align: left;
	padding-left: 3em;
}

.questionnaire .questiontext {
	vertical-align: top;
        width: 300px;
        margin: 20px;
        font-size: 1.2em;
}
.questiontext em {
	font-size: 70%;
}
.questionnaire textarea {
    width: 320px;
    height: 130px;
}
.questionnaire form {
    text-align: right;
}
.questionnaire ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.questiontext {
	text-align: right;
}


/* Debriefing form */

#debriefing {
	width: 640px;
        margin: 0 auto;
}

#debriefingtext {
	margin: 0 auto;
	padding: 10px 20px;
	font-size: 90%;
	text-align: justify;
}
#affirmationbox {
	position: relative;
	margin:  0 auto;
	border: 1px dotted white; 
	padding: 10px 20px;
	vertical-align: middle;
}
#affirmationbox p {
	text-align: left;
	font-style: italic;
}
#affirmationbox  table {
	border-spacing: 20px;
}
#affirmationbox  td {
	vertical-align: middle;
	font-size: 100%;
	color: black;
	height: 50px;
	cursor: pointer;
}
#affirmative {
	background: white;
	overflow: hidden;
	font-weight: bold;
	width: 10em;
}
#negative {
	background: white;
	font-size: 100%;
	width: 25em;
}
