<!-- HIT Config
================================== -->
<section id="hit_config">
  <div class="sub-header">
    <h2>Database Parameters</h2>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <form class="form-horizontal" id="myform">
        <br>
        <div class="control-group">
          <label class="control-label" for="database_url">Database URL</label>
          <div class="controls">
            <input type="text" class="input-large" id="database_url" name="database_url" value="<%= input.database_url %>" disabled>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="table_name">Table name</label>
          <div class="controls">
            <input type="text" id="table_name" name="table_name" value="<%= input.table_name %>">
          </div>
        </div>
        <div class="form-actions">
          <button id="save_data" class="btn btn-primary save" data-section="Database Parameters">Save changes</button>
        </div>
      </form>
    </div>
</div>

</section>
