<!-- HIT Config
================================== -->
<section id="hit_config">
  <div class="sub-header">
    <h2>HIT Configuration</h2>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <form class="form-horizontal">
        <h4>Basic Task Setup</h4>
        <br>
        <div class="control-group">
          <label class="control-label" for="input01">Title</label>
          <div class="controls">
            <input type="text" class="input-large" id="input01" placeholder="Perceptual Reaction TIme">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="input01">Description</label>
          <div class="controls">
            <textarea class="input-xlarge" id="textarea" rows="5" placeholder="Make a series of perceptual judgments"></textarea>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="input01">Keywords</label>
          <div class="controls">
            <input type="text" class="input" placeholder="Perception, Psychology">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputError">Ad URL</label>
          <div class="controls">
            <input type="text" placeholder="http://localhost:5001/mturk">
            <p class="help-block">URL turkers will see in your ad.</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputSuccess">Max Assignments</label>
          <div class="controls">
            <input type="text" class="input-small" placeholder="10">
            <p class="help-block">Number of turkers who can accept this HIT</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="input01">HIT lifetime</label>
          <div class="controls">
            <input type="password" class="input-small" id="input01" placeholder="24">
            <p class="help-block">In hours, how long the HIT will be available.</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="textarea">Reward</label>
          <div class="controls">
            <input type="text" class="input-small" placeholder="0.1">
            <p class="help-block">In dollars</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="textarea">Duration</label>
          <div class="controls">
            <input type="text" class="input-small" placeholder="2">
            <p class="help-block">How long turkers have to complete once accepted.</p>
          </div>
        </div>
        <h4>Requirements for workers</h4>
        <br>
        <div class="control-group">
          <label class="control-label" for="textarea">Approve Requirement</label>
          <div class="controls">
            <input type="text" class="input-small" placeholder="95">
            <p class="help-block">What % of previous assignments have been approved.</p>
          </div>
        </div>
        <div class="control-group">
        <label class="control-label" for="optionsCheckbox">Location</label>
          <label class="checkbox inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1"> US only 
          </label>
        </div>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <button type="reset" class="btn">Cancel</button>
      </div>
    </form>
  </div>
</div>

</section>
