<!-- HIT Config
================================== -->
<section id="hit_config">
  <div class="sub-header">
    <h2>HIT Configuration</h2>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <form class="form-horizontal" id="myform">
        <h4>Basic Task Setup</h4>
        <br>
        <div class="control-group">
          <label class="control-label" for="title">Title</label>
          <div class="controls">
            <input type="text" class="input-large" id="title" name="title" value="<%= input.title %>">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="description">Description</label>
          <div class="controls">
            <input type="text" class="input-xlarge" id="description" name="description" rows="5" value="<%= input.description %>">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="keywords">Keywords</label>
          <div class="controls">
            <input type="text" class="input" id="keywords" name="keywords" value="<%= input.keywords %>">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="question_url">Ad URL</label>
          <div class="controls">
            <input type="text" name="question_url" id="question_url" name="question_url" value="<%= input.question_url %>">
            <p class="help-block">URL turkers will see in your ad.</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="max_assignments">Max Assignments</label>
          <div class="controls">
            <input type="text" class="input-small" name="max_assignments" id="max_assignments" value="<%= input.max_assignments %>">
            <p class="help-block">Number of turkers who can accept this HIT</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="hit_lifetime">HIT lifetime</label>
          <div class="controls">
            <input type="text" class="input-small" id="hit_lifetime" value="<%= input.hit_lifetime %>">
            <p class="help-block">In hours, how long the HIT will be available.</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="reward">Reward</label>
          <div class="controls">
            <input type="text" class="input-small" id="reward" name="reward" value="<%= input.reward %>">
            <p class="help-block">In dollars</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="duration">Duration</label>
          <div class="controls">
            <input type="text" class="input-small" name="duration" id="duration" value="<%= input.duration %>">
            <p class="help-block">How long turkers have to complete once accepted.</p>
          </div>
        </div>
        <h4>Requirements for workers</h4>
        <br>
        <div class="control-group">
          <label class="control-label" for="approve_requirement">Approve Requirement</label>
          <div class="controls">
            <input type="text" class="input-small" name="approve_requirement" id="approve_requirement" value="<%= input.approve_requirement %>">
            <p class="help-block">What % of previous assignments have been approved.</p>
          </div>
        </div>
        <div class="control-group">
        <label class="control-label" for="us_only">Location</label>
          <label class="checkbox inline">
            <input type='hidden' value='0' id="us_only" name="us_only">
            <input type="checkbox" id="us_only" name="us_only" value="1" checked="checked">US only
          </label>
        </div>
        <div class="form-actions">
          <button type="submit" id="save_data" class="btn btn-primary save" data-section="HIT Configuration">Save changes</button>
        </div>
      </form>
    </div>
  </div>

</section>
