<!-- Navbar
================================================== -->
<section id="stats">
  <header>
    <span >
      <div class="pull-right">
        <label class="checkbox inline" style="color:black">
          <input type="checkbox" id="debug" value="1" <%= input.debug %>> Debug
        </label>
        <label class="checkbox inline" style="color:black">
          <input type="checkbox" id="using_sandbox" value="1" <%= input.using_sandbox %>> Amazon sandbox
        </label>
      </div>
    </span>
    <h1>Dashboard</h1>
  </header>
  <div class="row-fluid">
    <div class="span2">
        <div class="kpi"><%= input.balance %></div>
        <div><small>Available balance</small></div>
    </div>
    <div class="span2">
        <div class="kpi">-</div>
        <div><small>Total participants</small></div>
    </div>
    <div class="span2">
        <div class="kpi">-</div>
        <div><small>Pending review</small></div>
    </div>
    <div class="span2">
        <div class="kpi">-</div>
        <div><small>Average time</small></div>
    </div>
  </div>
</section>

<!-- Graph
================================================== -->
<section id="forms">
  <div class="sub-header">
    <h2>Status</h2>
  </div>
  <div class="row-fluid row-fluid-alternate-bg">
    <div class="span12">
        <div id="mainChart"></div>
    </div>
  </div>
</section>

<!-- modals
================================================== -->
<div id="server-off-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Warning</h3>
  </div>
  <div class="modal-body">
    <p><strong>You are about to shutdown the psiTurk server</strong>.
      If there are any participants currently running in your experiment, they will be forced to quit.
      You are still responsible for their payment.
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="shutdownServerBtn" class="btn btn-danger">Shutdown</button>
  </div>
</div>

<div id="run-expt-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Run experiment</h3>
  </div>
  <div class="modal-body">
    <p>
      Please confirm your settings.
      <br />
      <strong>N</strong> participants @ $X/ea x fees = <strong>$xxx.xx</strong>
      <br />
      Each participant has <strong>T</strong> mins. to complete your task.
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button id="run-expt-btn" class="btn btn-primary">Go!</button>
  </div>
</div>

<div id="aws-info-modal" class="modal hide fade" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="myModalLabel">Welcome!</h3>
  </div>
  <div class="modal-body">
    <p>
      <strong>To begin psiTurk, please provide your Amazon Mechanical Turk credentials.</strong>
    </p>
    <div class="row-fluid">
      <div class="span12">
        <div class="alert alert-block">
          An AWS key is required for posting new HITs to mechanical turk as well as
          monitoring existing HITs. You receive your key when you open an Amazon Web
          Services account.
          If you already have an AWS account, your key can be retrieved from:
          <a href="http://aws-portal.amazon.com/gp/aws/developer/account/index.html?action=access-key">http://aws-portal.amazon.com/gp/aws/developer/account/index.html?action=access-key</a>
        </div>
        </div>
        <form class="form-horizontal" id="myform">
          <div class="control-group">
            <label class="control-label" for="aws_access_key_id" >Your Access Key Id</label>
            <div class="controls">
              <input type="password" class="input-large" value=""  name="aws_access_key_id" id="aws_access_key_id">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="aws_secret_access_key">Secret Access Key</label>
            <div class="controls">
              <input type="password" class="input-large" value="" name="aws_secret_access_key" id="aws_secret_access_key">
            </div>
          </div>
          <div class="form-actions modal-footer">
            <button id="aws-info-save" class="btn btn-primary save save-data" data-section="AWS Access">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
