<!-- Graph
================================================== -->
<section id="forms">
  <div class="sub-header">
    <h2>Results</h2>
  </div>
  <div class="row-fluid row-fluid-alternate-bg">
    <div class="span12">
        <div id="mainChart"></div>
    </div>
  </div>
</section>

<!-- Tables
================================================== -->
<section id="tables">
  <div class="sub-header">
    <h2>Experiments</h2>
  </div>
  <table class="table table-striped full-section table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Completed</th>
        <th>Version</th>
        <th></th>
        <th></th>
        <th>Data Options</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="primary"><strong>Stroop A</strong></td>
        <td></td>
        <td>
            <div class="progress progress-mini">
              <div class="bar" style="width: 35%"></div>
            </div>
        <td>1.0</td>
        <td></td>
        <td></td>
        <td> <button class="btn" type="button">Duplicate</button> <button class="btn btn-success" type="button">Export</button> <button class="btn btn-danger" type="button">Delete</button></td>
      </tr>
      <tr>
        <td class="primary"><strong>Stroop B</strong></td>
        <td></td>
        <td>
            <div class="progress progress-mini">
              <div class="bar" style="width: 62%"></div>
            </div>
        </td>
        <td>1.2</td>
        <td></td>
        <td></td>
        <td> <button class="btn" type="button">Duplicate</button> <button class="btn btn-success" type="button">Export</button> <button class="btn btn-danger" type="button">Delete</button></td>
      </tr>
      <tr>
        <td class="primary"><strong>Reasoning</strong></td>
        <td></td>
        <td>
            <div class="progress progress-mini">
              <div class="bar" style="width: 89%"></div>
            </div>
        </td>
        <td>0.2</td>
        <td></td>
        <td></td>
        <td> <button class="btn" type="button">Duplicate</button> <button class="btn btn-success" type="button">Export</button> <button class="btn btn-danger" type="button">Delete</button></td>
      </tr>
    </tbody>
  </table>
</section>
