<!-- Side Bar
================================================== -->
<aside>
  <nav>
    <ul class="nav">
      <li class="selected">
        <a href="javascript:void(0);" id="overview"><i class="icon-dashboard"></i> Dashboard</a>
      </li>
      <li>
        <a href="javascript:void(0);" id="aws-info"><i class="icon-font icon-white" ></i> AWS Info</a> </li>
      </li>
      <li>
        <a href="javascript:void(0);" id='database'><i class="icon-table icon-white"></i> Database Parameters</a>
      </li>
      <li>
        <a href="javascript:void(0);" id="server-params"><i class="icon-cogs icon-white"></i> Server Parameters</a>
      </li>
      <li>
        <a href="javascript:void(0);" id="hit-config"><i class="icon-group icon-white"></i> HIT Configuration</a>
      </li>
      <li>
        <a href="javascript:void(0);" id="expt-info"><i class="icon-beaker icon-white"></i> Experiment Info</a>
      </li>
    </ul>
  </nav>
</aside>
