<!-- Side Bar
================================================== -->
<aside>
  <nav>
    <ul class="nav">
      <li class="selected" id="overview">
        <a href="javascript:void(0);"><i class="icon-dashboard"></i> Dashboard</a>
      </li>
      <li id="aws-info">
        <a href="javascript:void(0);"><i class="icon-font icon-white" ></i> AWS Info</a> </li>
      </li>
      <li id='database'>
        <a href="javascript:void(0);" ><i class="icon-table icon-white"></i> Database Params</a>
      </li>
      <li id="server-params">
        <a href="javascript:void(0);"><i class="icon-cogs icon-white"></i> Server Params</a>
      </li>
      <li id="hit-config">
        <a href="javascript:void(0);"><i class="icon-group icon-white"></i> HIT Config</a>
      </li>
      <li id="expt-info">
        <a href="javascript:void(0);"><i class="icon-beaker icon-white"></i> Experiment Info</a>
      </li>
      <li id="pay_and_bonus">
        <a href="javascript:void(0);" style="color:grey"><i class="icon-money" style="color:grey"></i> Pay & Bonuses</a>
      </li>
      <li id="server-log">
        <a href="javascript:void(0);" style="color:grey"><i class="icon-terminal" style="color:grey"></i> Server Log</a>
      </li>
      <li id="dropbox">
        <a href="javascript:void(0);" style="color:grey"><i class="icon-dropbox" style="color:grey"></i> Dropbox</a>
      </li>
    </ul>
  </nav>
</aside>
