<!doctype html>
<html lang="en">
<head>
    <title>psiTurk Dashboard</title>
    <!-- Load the script "static/dashboard/js/main.js" as our entry point -->
    <script data-main="static/dashboard/js/main" src="static/dashboard/js/libs/require.js"></script>
    <link href="static/dashboard/css/inspiritas.css" rel="stylesheet">
    <link rel="stylesheet" href="static/dashboard/css/font-awesome.css">
</head>
<body>

<!-- Navbar
  ================================================== -->
<div class="navbar navbar-static-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand" href="#">psiTurk</a>
      <span class="tagline">It's raining N! <a href="http://gureckislab.org/blog/?p=1297">Read more.</a></span>

      <div class="nav-collapse collapse" id="main-menu">
        <div class="auth pull-right" style="width:200px; margin-right:-20px">
          <span class="links">
              <i class="icon-circle" style="color: grey; margin: 0 3px 0 0" id="server_status"></i>
                Server
                <span id="server_controls">
                  [<a href="#" id="server_on" style="color:grey">on</a>|<a href="#" id="server_off" style="color:grey">off</a>]
                </span>
              <span class='row'>
              <i class="icon-circle" style="margin: 0 3px 0 10px; color: grey" id="experiment_status"></i>
                Experiment
                <span id="server_controls" style="color:grey">
                  [<a href="#" id="run" style="color:grey">run</a>|<a href="#" id="expire" style="color:grey">expire</a>]
                </span>
              </span>
            </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="row-fluid">
      <div class="span3" id="sidebar">
      </div>
      <div class="span9" id="content-wrapper">
        <div id="content" style="min-height: 300px;">
          <!-- Content will be placed here by template engine via Backbone -->
          <img src="static/dashboard/css/images/ajax-loader.gif" style="margin:115px 0px 0px 325px">
          <div class="row-fluid offset4">
            <p style="margin: 10px 0 0 20px">It's about to rain N...</p>
          </div>
        </div>
      </div>
    </div>
</div> <!-- /container -->
</body>
</html>
