<!doctype html>

<html>
	<head>
		<title>Learning Groups of Objects</title>
		<meta charset="utf-8">
		<script src="static/raphael-min.js" type="text/javascript"> </script>
		<script src="static/jquery-min.js" type="text/javascript"> </script>
		
		<script type="text/javascript">
		// Subject info, including condition and counterbalance codes.
		var subjid = {{ subj_num }};
		var condition = { order: {{order}} }
		
		/*********************
		* Get things started *
		********************/
		
		function insert_hidden_into_form(findex, name, value ) {
			var form = document.forms[findex];
			var hiddenField = document.createElement('input');
			hiddenField.setAttribute('type', 'hidden');
			hiddenField.setAttribute('name', name);
			hiddenField.setAttribute('value', value );
			form.appendChild( hiddenField );
		}
		var submitform = function() {
				insert_hidden_into_form(0, "subjid", subjid );
				insert_hidden_into_form(0, "data", datastring );
				$('form').submit();
		};
		</script>
				
		<script src="static/task.js" type="text/javascript"> </script>
		<link rel=stylesheet href="static/task.css" type="text/css" media="screen">
	</head>
	<body>
		<noscript>
			<h1>Warning: Javascript seems to be disabled</h1>
			<p>This website requires that Javascript be enabled on your
			browser.</p> <p>Instructions for enabling Javascript in your browser can be found 
			<a href="http://support.google.com/bin/answer.py?hl=en&answer=23852">here</a><p>
	    </noscript>
		<form style="margin: 50px;" id="tosubmit" action="debrief" method="post" >
			<input type="button" class="continue" id="continue" value="Continue" onclick="submitform()"></input>
		</form>
    </body>
</html>
