<!doctype html>

<html>
	<head>
		<title>Learning Groups of Objects</title>
		<meta charset="utf-8">
		<script src="static/raphael-min.js" type="text/javascript"> </script>
		<script src="static/jquery-min.js" type="text/javascript"> </script>
		
		<script language="JavaScript">
		<!-- Hide the script from old browsers --
		
		// Subject info, including condition and counterbalance codes.
		var assignmentId = "{{ assignmentId }}";
		var condition = {{cond}}
		var counterbalance = {{counter}}
		
		/*********************
		* Get things started *
		********************/
		
		function assignpagegen(page){ return function(){ pages[pagename] = page; } }
		$(window).load( function(){
			runfun = function() {
			    {% if skipto %}
					{% if skipto=="questionnaire" %}
					givequestionnaire();
					{% elif skipto=="test" %}
					testobject = new TestPhase();
					{% endif %}
			    {% else %}
    				instructobject = new Instructions(['instruct']);
			    {% endif %}
			}
			
			// Load resources then run the exp
			$.ajaxSetup({cache: false});
			for (i=0; i<pagenames.length; i++) {
				var pagename = pagenames[i];
				$.ajax({ 
					url: pagename + ".html",
					success: function(pagename){ return function(page){ pages[pagename] = page; } }(pagename),
					async: false
				});
			}
			runfun();
		});
		//-->
		</script>
				
		<script src="static/task.js" type="text/javascript"> </script>
		<link rel=stylesheet href="static/task.css" type="text/css" media="screen">
	</head>
<body>
	<noscript>
		<h1>Warning: Javascript seems to be disabled</h1>
		<p>This website requires that Javascript be enabled on your browser.</p>
		<p>Instructions for enabling Javascript in your browser can be found <a
			href="http://support.google.com/bin/answer.py?hl=en&answer=23852">here</a><p>
	</noscript>
</body>
</html>
