<!-- Expt info
================================== -->
<section id="hit_config">
  <div class="sub-header">
    <h2>Experiment Info</h2>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <form class="form-horizontal" id="myform">
        <div class="control-group">
          <label class="control-label" for="code_version">Code version</label>
          <div class="controls">
            <input type="text" class="input" id="code_version" name="code_version" value="<%= input.code_version %>">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="input01">Number of conditions</label>
          <div class="controls">
            <input type="text" class="input" id="num_conds" name="num_conds" value="<%= input.num_conds %>">
            <p class="help-block">Number of conditions of interest.</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="num_conters">Number of counters</label>
          <div class="controls">
            <input type="text" class="input" name="num_counters" id="num_counters" value="<%= input.num_counters %>">
            <p class="help-block">Number of counterbalance alternatives.</p>
          </div>
        </div>
      <div class="control-group">
      <label class="control-label" for="use_debriefing">Use debriefing</label>
        <label class="checkbox inline">
          <input type='hidden' value='0' id="use_debriefing" name="use_debriefing">
          <input type="checkbox" id="use_debriefing" name="use_debriefing" value="1" <%= input.use_debriefing %>>Use debriefing
        </label>
      </div>
      <div class="offset2 span2">
        <button id="expt-info-save" type="submit" class="btn btn-primary save save_data restart" data-section="Task Parameters">Save</button>
      </div>
    </form>
  </div>
</div>
</section>
