<!-- Navbar
================================================== -->
<section id="stats">
  <header>
    <span >
      <div class="pull-right">
        <button type="button" id="test" class="btn btn-primary btn-small" style="display: none;">Test</span>
      </div>
    </span>
    <h1>Dashboard</h1>
  </header>
  <br>
  <ul class="nav nav nav-tabs">
    <li id="sandbox-on" class="sandbox-tabs"><a>Sandbox</a></li>
    <li id="sandbox-off" class="sandbox-tabs"><a>Live</a></li>
  </ul>
  <div class="row-fluid">
    <div class="span2">
        <div class="kpi"><%= input.balance %></div>
        <div><small>Available balance</small></div>
    </div>
    <div class="span2">
        <div class="kpi">-</div>
        <div><small>Pending review</small></div>
    </div>
    <div class="span2">
        <div class="kpi">
          <button type="button" id="run" class="btn btn-primary">Add HIT</span>
        </div>
        <div><small>Add a new HIT listing</small></div>
    <div>
  </div>
</section>

<hr style="background:#DDDDDD; border:0; height:1px" />

<!-- Table
================================================== -->
<section>
  <div class="" style="text-align:center; margin:20px 0 -50px 0">
    <h4>Active HITs</h4>
  </div>
</section>
<section id="tables">
  </div>
</section>
