<!-- Navbar
================================================== -->
<section id="stats">
  <header>
    <span >
      <div class="pull-right">
        <label class="checkbox inline" style="color:black">
          <input type="checkbox" id="debug" value="1" <%= input.debug %>> Debug
        </label>
        <label class="checkbox inline" style="color:black">
          <input type="checkbox" id="using_sandbox" value="1" <%= input.using_sandbox %>> Amazon sandbox
        </label>
      </div>
    </span>
    <h1>Dashboard</h1>
  </header>
  <div class="row-fluid">
    <div class="span2">
        <div class="kpi"><%= input.balance %></div>
        <div><small>Available balance</small></div>
    </div>
    <div class="span2">
        <div class="kpi">-</div>
        <div><small>Pending review</small></div>
    </div>
    <div class="span2">
        <div class="kpi">
          <button type="button" id="run" class="btn btn-primary">Add HIT</span>
        </div>
        <div><small>Add a new HIT listing</small></div>
    <div>
  </div>
</section>

<!-- Table
================================================== -->
<section>
  <div class="sub-header">
    <h2>Active HITs</h2>
  </div>
</section>
<section id="tables">
  </div>
</section>
