<style>
  a {
      color: #F9601C;
      text-decoration: none;
  }
</style>

<section id="pay">
  <div class="sub-header">
    <h2>Pay &amp; Bonus</h2>
  </div>
  <br>
  <ul class="nav nav nav-tabs">
    <li id="pay-sandbox-on" class="sandbox-tabs"><a>Sandbox</a></li>
    <li id="pay-sandbox-off" class="sandbox-tabs"><a>Live</a></li>
  </ul>

  <!-- Table
  ================================================== -->
  <section>
    <div class="" style="text-align:center; margin:20px 0 -50px 0">
      <h4>Review Submitted Assignments</h4>
    </div>
  </section>
  <section id="pay-table">
  </section>
</section>
