<div id="run-expt-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Run experiment</h3>
  </div>
  <div class="modal-body" id="run-expt-body">
    <br>
    <p>
      Please review the settings for <strong>"<%- title %>"</strong>
    </p>
    <br>
    <%
      round2 = function(x) { Math.round(x*100)/100 }
      total = parseFloat(n_assignments)*parseFloat(reward)*1.10;
      total = total.toFixed(2);
      fee = parseFloat(n_assignments)*parseFloat(reward)*.10;
      fee = fee.toFixed(2);
      fixedReward = parseFloat(reward).toFixed(2);
    %>
    <div class="container" style="width:100%">
      <form id="expt-form">
        <table class="table table-condensed">
          <tr>
            <td>Max workers</td>
            <td>
              <input class="run-expt" name="max_assignments" id="max_assignments" style="width: 45px; padding: 1px" value="<%- n_assignments %>"> 
            </td>
            <td>Reward ($)</td>
            <td>
              <input id="reward" name="reward" class="run-expt" style="width: 45px; padding: 1px" value="<%- fixedReward %>"> 
            </td>
            <td>Duration (hrs.)</td>
            <td>
              <input id="duration" name="duration" class="run-expt" style="width: 45px; padding: 1px" value="<%- duration %>"> 
            </td>
            <td>Fee ($)</td>
            <td>
              <input id="fee" class="run-expt" style="width: 45px; padding: 1px" value="<%- fee %>" disabled>
            </td>
          </tr>
        </table>
      </form>
      <h3 class="pull-right" style="margin-right:10px">Total: $<span id="total"><%- total %></span></h3>
      <br>
      <br>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button id="run-expt-btn" class="btn btn-primary">Go!</button>
  </div>
</div>
