<!-- HIT Config
================================== -->
<section id="hit_config">
  <div class="sub-header">
    <h2>Server Configuration</h2>
  </div>

  <div class="row-fluid" style="min-height:300px">
    <div class="span12">
      <form class="form-horizontal" id="myform">
        <div class="control-group">
          <label class="control-label" for="host">Host</label>
          <div class="controls">
            <input type="text" class="input" id="host" name="host" value="<%= input.host %>">
            <p class="help-block">Use <em>localhost</em> if running locally.</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="port">Port</label>
          <div class="controls">
            <input type="text" class="input" id="port" name="port" value="<%= input.port %>">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="cutoff_time">Cutoff time</label>
          <div class="controls">
            <input type="text" class="input" id="cutoff_time" name="cutoff_time" value="<%= input.cutoff_time %>">
            <p class="help-block">Time in minutes when we assume a subject gave up.</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="optionsCheckbox"></label>
          <div class="controls">
              <label class="checkbox inline">
                <input type="hidden" id="support_ie" name="support_ie" value="0">
                <input type="checkbox" id="support_ie" name="support_ie" value="1"> Support Internet Explorer
              </label>
          </div>
        </div>
      <div class="offset2 span2">
        <button type="submit" id="server-params-save" class="btn btn-primary save save_data" data-section="Server Parameters">Save changes</button>
      </div>
    </form>
  </div>
</div>

</section>
