<!-- Side Bar
================================================== -->
<aside>
  <nav>
    <ul class="nav">
      <li class="selected" id="overview">
        <a href="javascript:void(0);"><i class="icon-dashboard"></i> Dashboard</a>
      </li>
      <li id="aws-info">
        <a href="javascript:void(0);"><i class="icon-lock" id="aws-indicator" style="color:red" ></i> AWS Info</a> </li>
      </li>
      <li id='database'>
        <a href="javascript:void(0);" ><i class="icon-table icon-white"></i> Database</a>
      </li>
      <li id="server-params">
        <a href="javascript:void(0);"><i class="icon-cogs icon-white"></i> Server</a>
      </li>
      <li id="hit-config">
        <a href="javascript:void(0);"><i class="icon-group icon-white"></i> HIT Config</a>
      </li>
      <li id="expt-info">
        <a href="javascript:void(0);"><i class="icon-beaker icon-white"></i> Expt Info</a>
      </li>
      <li id="pay_and_bonus">
        <a href="javascript:void(0);"><i class="icon-money"></i> Pay</a>
      </li>
      <li id="server-log">
        <a href="javascript:void(0);"><i class="icon-bug"></i> Server Log</a>
      </li>
      <li id="documentation">
        <a href="javascript:void(0);"><i class="icon-question"></i> Help</a>
      </li>
      <li id="contribute">
        <a href="javascript:void(0);"><i class="icon-github"></i> Contribute</a>
      </li>
      <li id="shutdown-dashboard">
        <a href="javascript:void(0);"><i class="icon-power-off"></i> Shutdown</a>
      </li>
    </ul>
  </nav>
</aside>
