{% extends 'dashboard/layouts/layout.html' %}
{% set active_page = 'none' %}

{# --------------------------------- STYLES --------------------------------- #}
{% block styles %}
{{ super() }}

<link rel='stylesheet' href="{{url_for('.static', filename='styles/dbview.css')}}">
<link rel='stylesheet' href="{{url_for('.static', filename='styles/assignments.css')}}">

{% endblock %}


{# --------------------------------- SCRIPTS -------------------------------- #}
{% block scripts %}
{{ super() }}

<script type='module' src="{{url_for('.static', filename='js/assignments.js')}}"></script>
<!-- Set some local HIT information -->
<script type="text/javascript">
    var HIT_ID = "{{ hit_id }}";
    var HIT_LOCAL = {% if hit_local %} true {% else %} false {% endif %};
</script>

{% endblock %}

{# --------------------------------- CONTENT --------------------------------- #}
{% block content %}
<div class="col h-100 overflow-hidden">

    <!-- HIT controls column -->
    <div class="row">
        <div class="col-sm py-1">
            <button 
                type="button" 
                id="submitAll" 
                class="btn btn-dark mx-auto w-100 text-nowrap" 
                data-toggle="modal" 
                data-target="#hitCreateModal">
                Approve All
            </button>
        </div>
        <div class="col-sm py-1">
            <button 
                type="button" 
                id="bonusAll" 
                class="btn btn-dark mx-auto w-100 text-nowrap">
                Bonus All
            </button>
        </div>
    </div>

    <div class="row p-2 flex-fill">

        <!-- DB display auto-fills column -->
        <div class="col-md-8 db-display rounded">
            <div id="DBDisplay" class="row">
            </div>
        </div>

        <!-- Mobile spacing column -->
        <div class="col d-md-none d-lg-none d-xl-none mt-2"></div>

        <!-- DB information sidebar -->
        <div class="col-md-4 db-sidebar">
            <div class="container-fluid h-100 px-0 d-flex flex-column">

                <!-- Selected HIT information -->
                <div class="row flex-shrink-0">
                    <div class="col px-2">
                        <div class="bg-dark rounded p-2">
                            <ul class="list-group">
                                <li class="list-group-item px-2 py-1" style="background-color: #eee">
                                    <b class="noselect">Hit ID: </b><span id="assignmentInfo_hitid">...</span>
                                </li>
                                <li class="list-group-item px-2 py-1" style="background-color: #eee">
                                    <b class="noselect">Worker ID: </b><span id="assignmentInfo_workerid">...</span>
                                </li>
                                <li class="list-group-item px-2 py-1" style="background-color: #eee">
                                    <b class="noselect">Assignment ID: </b><span id="assignmentInfo_assignmentid">...</span>
                                </li>
                                <li class="list-group-item px-2 py-1" style="background-color: #eee">
                                    <b class="noselect">Status: </b><span id="assignmentInfo_status">...</span>
                                </li>
                                <li class="list-group-item px-2 py-1" style="background-color: #eee">
                                    <b class="noselect">Accepted: </b><span id="assignmentInfo_accepted">...</span>
                                </li>
                                <li class="list-group-item px-2 py-1" style="background-color: #eee">
                                    <b class="noselect">Submitted: </b><span id="assignmentInfo_submitted">...</span>
                                </li>
                                <li class="list-group-item px-2 py-1" style="background-color: #eee">
                                    <b class="noselect">Bonus: </b><span id="assignmentInfo_bonus">...</span>
                                </li>
                            </ul>
                            <div class="row">
                                <div class="col mt-2 pr-1">
                                    <button 
                                        type="button" 
                                        id="approveOne" 
                                        class="btn btn-success w-100 text-nowrap"
                                        disabled>
                                        Approve
                                    </button>
                                </div>
                                <div class="col mt-2 pl-1">
                                    <button 
                                        type="button" 
                                        id="rejectOne" 
                                        class="btn btn-danger w-100 text-nowrap"
                                        disabled>
                                        Reject
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mt-2">
                                    <button 
                                        type="button" 
                                        id="bonusOne" 
                                        class="btn btn-info w-100 text-nowrap"
                                        disabled>
                                        <img src="{{url_for('.static', filename='images/blueribbon.png')}}" class="db-boolimg"> Auto Bonus
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Table filter info -->
                <div class="row mt-2 flex-grow-1">
                    <div class="col px-2">
                        <div class="bg-dark rounded p-2" id="DBFilters">
                            
                            <button class="btn btn-secondary btn-sm btn-block mt-2" type="button" id="button-addon1">Download table</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Modals -->
{% endblock %}

{% block modals %}

{% endblock %}